body
{
	width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(219, 220, 221);
}

header
{
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(130, 130, 130);
}

header div
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

a
{
  text-decoration: underline;
  color: black;
}

h1 a
{
  text-decoration: underline;
  color: white;
}

ul a
{
  text-decoration: underline;
  color: blue;
}

.header_right
{
  width: 20%;
}

#title 
{
	background-color: black;
}

#index_head
{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

h1
{
	color: white;
	padding: 10px;
	text-align: center;
}

section h1
{
  color: black;
  padding: 10px;
  text-align: center;
}

section, article
{
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 3px solid black;
}

#sommaire ul
{
  list-style-type: none;
}

footer
{
	background-color: rgb(130, 130, 130);
	padding-left: 10px;
	padding-right: 10px;
}

footer address, footer div
{
	padding-bottom: 10px;
}

.coordonnees
{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside
{
	font-size: 10pt;
  background-color: rgb(198, 198, 198);
}

#search
{
  text-align: center;
}

#liste_rfc
{
  min-height: 500px;
}

#liste_rfc ul
{
  list-style-type: none;
  font-size: 14pt;
}

#liste_rfc h2
{
  text-align: center;
}